
/* ********************************* */
/* 유혜원 CSS 쇼핑몰 */
a {
  text-decoration: none;
  color: black;
}
.w_laytout {
  width: 99vw;
  box-sizing: border-box;
  margin: 0 auto;
}
.w_container {
  box-sizing: border-box;
  margin: 140px auto;
  width: 1300px;
}
.w_title {
  font-size: 3.5rem;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}
.w_text {
  width: 550px;
  font-size: 17px;
  font-weight: lighter;
  margin-bottom: 100px;
}
.w_thumbList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.w_thumbnail {
  width: 300px;
  height: 500px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.w_thumbImg {
  width: 100%;
  height: 400px;
  margin: 0;
}
.w_thumbName {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 5px 0 0 0;
}
.w_thumbPrice {
  font-size: 18px;
  margin: 5px 0 0 0;
}
/* 유혜원 CSS 소개 */
.w_coffeeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.w_coffeeImg {
  width: 650px;
}
.w_sideText {
  width: 400px;
  height: 400px;
  font-size: 17px;
  font-weight: lighter;
  margin: 100px 80px 0 0;
  line-height: 25px;
}
/* 유혜원 CSS 제품 */
.w_prodCont {
  box-sizing: border-box;
  margin: 130px auto;
  width: 1000px;
}
.w_prodTop {
  display: flex;
  justify-content: space-between;
}
.w_topLink {
 list-style-type: none;
 display: flex;
 font-size: 17px;
}
.w_TopliProdName {
  color: rgb(165, 165, 165);
}
.w_textBlock {
  color: rgb(165, 165, 165);
}
.w_prodImgText {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 50px;
}
.w_prodLeft {
  width: 50%;
}
.w_prodImg {
  width: 100%;
}
.w_prodSmallImgCont {
  width: 100%;
  height: 100px;
  margin: 10px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.w_prodSmallImg {
  width: 100px;
  position: absolute;
  top: -15px;
  display: inline-block;
}
.w_prodSmallImg:first-child {
  left: 0;
}
.w_prodSmallImg:last-child {
  left: 110px;
}
.thumbImgactive {
  border: 2px solid #000;
}
.w_prodRight {
  width: 45%;
}
.w_prodText {
  font-size: 2rem;
  font-weight: bold;
}
.w_prodPrice {
  margin: 20px 0;
  font-size: 1.2rem;
  font-weight: lighter;
}
.w_prodCountInput {
  width: 100px;
  height: 50px;
  font-size: 18px;
  font-weight: lighter;
  padding: 10px 0 10px 15px;
  margin-top: 10px;
}
/* 유혜원 CSS 카트 추가 버튼 & 구매하기 버튼 */
.w_prodBtnInfoCont {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.w_prodAddBtn { /* 카트 추가 버튼 */
  margin-bottom: 15px;
  width: 100%;
  height: 50px;
  font-size: 17px;
  background-color: rgb(95, 79, 63);
  color: #fff;
  border: none;
  border-radius: 50px;
}
.w_prodAddBtn:hover {
  background-color: rgb(164, 155, 145);
  color: #fff;
}
.w_prodBuyBtn { /* 구매하기 버튼 */
  width: 100%;
  height: 50px;
  font-size: 17px;
  background-color: #334748;
  color: #fff;
  border: none;
  border-radius: 50px;
}
.w_prodBuyBtn:hover {
  background-color: #8c9898;
  color: #fff;
}
.PurchaseModalCont { /* 구매하기 모달 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 99vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.PurchaseModal { /* 구매하기 모달 내용 */
  background-color: #fefefe;
  margin: 10% auto;
  padding: 75px 0 0 0;
  border: 1px solid #888;
  width: 600px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PurchaseModal > h2 { /* 구매하기 모달 제목 */
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.PurchaseModal > p { /* 구매하기 모달 내용 */
  font-size: 16px;
  margin-bottom: 40px;
}
.PurchaseModal > button { /* 구매하기 모달 닫는 버튼 */
  width: 100px;
  height: 50px;
  font-size: 17px;
  background-color: #334748;
  color: #fff;
  border: none;
  border-radius: 5px;
}
/* 유혜원 CSS 제품 관련 정보들 담은 태그 */
.w_prodInfosCont {
  margin-top: 30px;
}
.w_prodInfoCont { /* 각 정보를 담는 모든 부분에 스타일 적용 */
  padding: 20px 0;
  border-bottom: 1px solid rgb(165, 165, 165);
}
.w_prodInfosCont > div:last-child { /* 각 정보를 담는 마지막 부분에는 밑에 선 제거 */
  border-bottom: none;
}
.w_titleCont {  /* 모든 title 부분에 스타일 적용 */
  display: flex;
  justify-content: space-between;
  height: 35px;
}
.w_titleText { /* 모든 title 부분 제목에 스타일 적용 */
  font-size: 19px;
  line-height: 30px;
}
.w_titleSymbol { /* 모든 title 부분 +/-에 스타일 적용 */
  font-size: 18px;
  line-height: 29px;
}
.w_infoText {
  font-size: 15px;
  line-height: 23px;
  font-weight: lighter;
  text-align: justify;
}